<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BorrowMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Borrow">
    <id column="idborrow" jdbcType="INTEGER" property="idborrow" />
    <result column="totalamount" jdbcType="INTEGER" property="totalamount" />
    <result column="borrowdate" jdbcType="VARCHAR" property="borrowdate" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from borrow
    where idborrow = #{idborrow,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Borrow">
    insert into borrow (idborrow, totalamount, borrowdate, 
      username, userid)
    values (#{idborrow,jdbcType=INTEGER}, #{totalamount,jdbcType=INTEGER}, #{borrowdate,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Borrow">
    update borrow
    set totalamount = #{totalamount,jdbcType=INTEGER},
      borrowdate = #{borrowdate,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER}
    where idborrow = #{idborrow,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select idborrow, totalamount, borrowdate, username, userid
    from borrow
    where idborrow = #{idborrow,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select idborrow, totalamount, borrowdate, username, userid
    from borrow
  </select>
</mapper>