<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BorrowItemMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.BorrowItem">
    <id column="idborrowitem" jdbcType="INTEGER" property="idborrowitem" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="borrowdate" jdbcType="VARCHAR" property="borrowdate" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="bookname" jdbcType="VARCHAR" property="bookname" />
    <result column="bookdescription" jdbcType="VARCHAR" property="bookdescription" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="is_returned" jdbcType="INTEGER" property="isReturned" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from borrowitem
    where idborrowitem = #{idborrowitem,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.BorrowItem">
    insert into borrowitem (idborrowitem, userid, bookid, 
      borrowdate, username, bookname, 
      bookdescription, amount, is_returned, 
      parentid)
    values (#{idborrowitem,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, 
      #{borrowdate,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{bookname,jdbcType=VARCHAR}, 
      #{bookdescription,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER}, #{isReturned,jdbcType=INTEGER}, 
      #{parentid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.BorrowItem">
    update borrowitem
    set userid = #{userid,jdbcType=INTEGER},
      bookid = #{bookid,jdbcType=INTEGER},
      borrowdate = #{borrowdate,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      bookname = #{bookname,jdbcType=VARCHAR},
      bookdescription = #{bookdescription,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      is_returned = #{isReturned,jdbcType=INTEGER},
      parentid = #{parentid,jdbcType=INTEGER}
    where idborrowitem = #{idborrowitem,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select idborrowitem, userid, bookid, borrowdate, username, bookname, bookdescription, 
    amount, is_returned, parentid
    from borrowitem
    where idborrowitem = #{idborrowitem,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select idborrowitem, userid, bookid, borrowdate, username, bookname, bookdescription, 
    amount, is_returned, parentid
    from borrowitem
  </select>
</mapper>